.footer {
  background-color: #76c7ad;
  padding: 1rem 0;
  height: 9%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.footer h4 {
  font-size: 21px;
  word-spacing: 4px;
  letter-spacing: 1px;
}
